/** {box-sizing: border-box;}*/

body {
  font-family: sans-serif;
  margin: 0;
}


/*-----------------------------------------------------*/
header {
  display: flex;
  justify-content: space-between;
  height: 4%;
  background-color: #de3535;
  align-items: center;
  padding: 2%;
}

.Headerrr {
  display: flex;
  align-items: center;
}

/*------------------------------------------------------*/
.nombreHeader {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

nav {
  height: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  display: inline-block;
  padding: 3px;
  background-color: white;
  width: 200px;
  height: 6vh;
  color: black;
  transition: 0.2s all;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

nav ul li a:hover {
  background-color: yellow;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

/*------------------------------------------------------*/

.imagenes {
  height: 100%;
  width: 100%;
  border-radius: 5%;
  /*Con esto le puse el borde redondeado a las fotos*/

}

.margin {
  margin: 0px 0px 0px 0px;

}

.rounded-circle {
  height: 20%;
  width: 20%;
}

.container {
  display: grid;
  grid-gap: 6%;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 25%;

}

.peli {
  box-sizing: border-box;
  height: 90%;
  padding: 10% 10% 18% 10%;
}

.letras {
  -webkit-text-fill-color: #de3535;
}

h3 {
  letter-spacing: 2px;
}

form {
  background-color: #de3535;
}

form label {
  display: block;
  margin: 10px;

}

h1 p {
  height: 20vh;
  color: black;
}

h4 {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

label {
  padding: 7px
}

input {
  margin-left: 10px;
}

iframe {
  padding: 20px
}

.dolar {
  text-align: center;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.footer {
  background-color: black;
  height: 2%;
}

.footer p {
  color: white;
  text-align: center;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    grid-gap: 1%;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 15%;
  }

  .peli {
    padding-bottom: 20%;
  }
}

@media screen and (min-width:992px) {
      .container {
    grid-gap: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 40%);

  }

  .peli {
    padding-bottom: 30%;
  }
}